<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- Base de datos -->
    <add key="connStringOld" value="Server=basedatos-test.database.windows.net;Initial Catalog=CardMaster29OctubreMigr;User ID=AdminTest;Password=P@ssw0rd; Column Encryption Setting=Enabled;" />
    <!-- Base de datos -->
    <add key="connStringCardDB" value="Server=basedatos-test.database.windows.net;Initial Catalog=CardDB_29OctMigr;User ID=AdminTest;Password=P@ssw0rd;" />
    <!-- Base de datos -->
    <add key="connStringPhiAdmin" value="Server=basedatos-test.database.windows.net;Initial Catalog=phi_admin;User ID=AdminTest;Password=P@ssw0rd;" />
    <!-- Azure Key Vault -->
    <add key="AzureKeyVault" value="KV,e90cd1e5-38ec-41ac-8433-0e9fd01e3b96,AL?b0.[Ajpfy:KJyO1alLBBXf1WyDv3n" />
    <!-- Institution ID -->
    <add key="InstitutionID" value="45" />
  </appSettings>
</configuration>